@media screen and (min-width: 600px) and (max-width: 910px) {
    body {
        justify-content: start;
        align-items: center;
        padding: 1rem;
    }
    main {
        flex-direction: column;
    }

    section {
        margin-bottom: 3rem;
    }
    
}
